.center {
    margin: auto;
    width: 49%;
    border: 3px solid green;
    padding: 10px;
    background-color: white;
  }
  .center2 {
    font-size: x-large;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 2px;
    text-align: center;
    background-color: white;
  } 
  

  .label {
    color: rgb(17, 15, 15);
    padding: 8px;
    background-color:white;
    
  }

  .show {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: white;
  }

  .Confirmed {
      margin: 2px;
      color: rgb(22, 236, 243);
      border: 2px solid  turquoise;
      font-size: large;
  }

  .Deaths {
    color: red;
    border: 2px solid  rgba(255, 0, 0, 0.342);
    font-size: large;
  }

  .Recovered {
    color: rgb(4, 122, 4);
    border: 2px solid  rgba(48, 236, 111, 0.904);
    font-size: large;
  }

  .Active {
    color: orange;
    border: 2px solid  rgba(255, 166, 0, 0.513);
    font-size: large;
  }

  .body {
    background-image: url("../covid-19/image/covid-19.jpg");
    background-repeat: no-repeat;
    height: 500px;
    /* background-position: center; */
    background-size: cover;
   }

